#app {
    max-width: 1280px;
}

:root {
  --color-text-base: #000000;
  --color-text-light: #ffffff;
  --color-text-context: #61646B;
  --color-text-caption: #4E5156;
  --color-link: #3F5FFF;
  --color-link-hover: #334ecc;

  --color-global-background: #EAF9FF;
  --color-content-background: #F3FBFF;

  --color-context-blue: #4036DA;
  --color-gender-male: #4389CE;
  --color-gender-female: #FF7BF6;
  --color-status-available: #419F3C;
  --color-status-reserved: #EBA036;
  --color-status-unavailable: #E23F3F;
  --color-kitten-class: #419F3C;
  --color-button-disabled: #797D7E;

  --color-background-card: rgba(255, 255, 255, 0.7);
  --color-border-card: rgba(0, 0, 0, 0.2);
  --color-shadow-card: rgba(0, 0, 0, 0.20);

  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  --border-radius-main: 15px;
  --blur-base: 10px;
  --shadow-base: 0px 3px 10px var(--color-shadow-card);

  --color-primary-button: #2CA1FF;
  --color-primary-button-hover: #1A90F0;
  --font-size-button: 0.825rem;

  --padding-small: 0.625rem;
  --padding-medium: 1rem;
  --padding-large: 1.25rem;
  --padding-extra-large: 1.5rem;
}

a,
.link {
    font-family: var(--font-family-base);
    color: var(--color-link);
    font-weight: 525;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}
a,
.link:hover {
    color: var(--color-link-hover);
    background-color: transparent;
}

span {
    font-family: var(--font-family-base);
    line-height: 1;
}

button,
.btn {
  background-color: var(--color-primary-button);
  color: var(--color-text-light);
  border: none;
  border-radius: var(--border-radius-main);
  cursor: pointer;

  font-weight: bold;
  font-size: var(--font-size-button);
  text-align: center;

  display: block;
  padding: var(--padding-small) var(--padding-extra-large);
  transition: background 0.2s;
  line-height: 1.5;

  box-shadow: var(--shadow-base);
}

button:hover,
.btn:hover {
  background-color: var(--color-primary-button-hover);
}

.btn a {
  text-decoration: none;
  color: var(--color-text-light);
}

button:disabled,
.btn:disabled {
  background-color: var(--color-button-disabled);
  cursor: default;
}

h2 {
  font-size: 24px;
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: bold;
  line-height: 1;
}

.separator {
    width: 100%;
    max-width: 700px;
    height: 1px;

    background-color: var(--color-text-context);
}