.subtitle {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-text-caption);
    display: flex;
    align-items: center;
    gap: 4px;
}

.description {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;
}

.card-info-container {
    margin-left: -20px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    padding: var(--padding-large);
    z-index: 2;
}

.card-photo-container {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    padding: 0;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-small);
}

.card-info-body {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
    font-weight: 600;
}

.card-info-props {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}

.card-property {
    width: max-content;
}
.card-property span,
.card-property .link {
    font-size: 18px;
}

.buttons-container {
    display: flex;
    align-self: flex-start;
    margin-top: auto;
    gap: var(--padding-small);
}

.card-compact {
    max-width: 294px;
    text-align: left;
    border-radius: var(--border-radius-main);
    overflow: hidden;
}

.card-compact-content {
    margin: var(--padding-medium);
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    flex-grow: 1;
    height: 100%;
    line-height: 1;
}

.card-compact-photo {
    width: 100%;
    height: 274px;
    object-fit: cover;
    border-radius: var(--border-radius-main);
    box-shadow: var(--shadow-base);
}

.card-expanded {
    width: 1000px;
    display: flex;
    line-height: 1;
}

.card-expanded-photo {
    height: 252px;
    width: 252px;
    object-fit: cover;
    flex-grow: 0;
    border-radius: var(--border-radius-main);
    box-shadow: var(--shadow-base);
}