@import './cards.css';
@import "tailwindcss";
@tailwind base;
@tailwind components;

main {
    width: 100%;
    max-width: 1280px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-inline: var(--border-global);
    border-top: none;
    padding: 0;
}

body {
    background-color: var(--color-global-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

#__nuxt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*,
*::before,
*::after {
    transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease,
    box-shadow 0.3s ease;
}

@layer base {

    :root {
        --color-text-base: #000000;
        --color-text-light: #ffffff;
        --color-text-context: #61646B;
        --color-text-caption: #4E5156;
        --color-link: #3F5FFF;
        --color-link-hover: #334ECC;

        --color-global-background: #EAF9FF;
        --color-pages-primary-background: #FFFFFF;
        --color-pages-secondary-background: #F3FBFF;
        --color-dark-blue: #426784;

        --color-context-blue: #1D4ED8;
        --color-background-blue: #F1F5F9;
        --color-gender-male: #4389CE;
        --color-gender-female: #FF7BF6;
        --color-status-available: #419F3C;
        --color-status-reserved: #EBA036;
        --color-status-unavailable: #E23F3F;
        --color-kitten-class: #419F3C;
        --color-button-disabled: #797D7E;

        --color-skeleton-light-base: #D6D6D6;
        --color-skeleton-light-higlight: #EBEBEB;

        --color-skeleton-dark-base: #CCCCCC;
        --color-skeleton-dark-higlight: #E0E0E0;

        --color-hover: rgba(102, 103, 124, 0.15);

        --color-background-card: rgba(255, 255, 255, 0.7);
        --color-border-card: rgba(0, 0, 0, 0.2);
        --color-shadow-card: rgba(0, 0, 0, 0.20);

        --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
        --font-size-title: 2.5rem;

        --border-radius-main: 0.935rem;
        --blur-base: 10px;
        --shadow-base: 0px 3px 10px var(--color-shadow-card);
        --border-global: none;

        --color-primary-button: #2CA1FF;
        --color-primary-button-hover: #1A90F0;
        --font-size-button: 0.825rem;

        --padding-small: 0.625rem;
        --padding-medium: 1rem;
        --padding-large: 1.25rem;
        --padding-extra-large: 1.5rem;
        --padding-pages: 2.5rem;
    }

    :root[data-theme="dark"] {
        --color-global-background: #0B0D12;
        --color-pages-primary-background: #1c1c20;
        --color-pages-secondary-background: #17171c;
        --color-dark-blue: #1E293B;

        --color-background-card: rgba(38, 38, 42, 0.7);
        --color-border-card: rgba(148, 163, 184, 0.1);

        --color-gender-female: #E494C1;

        --color-gender-male: #BAE6FD;
        --color-status-available: #4ADE80;
        --color-status-reserved: #FDBA74;
        --color-status-unavailable: #F87171;
        --color-text-base: #E2E8F0;
        --color-text-light: #FFFFFF;

        --color-text-context: #9CA3AF;
        --color-text-caption: #90959F;

        --color-link: #93C5FD;
        --color-link-hover: #75A7CF;

        --color-primary-button: #3B82F6;
        --color-primary-button-hover: #2563EB;

        --color-background-blue: rgba(100, 100, 100, 0.25);
        --color-context-blue: #FFFFFF;

        --color-skeleton-light-base: var(--color-skeleton-dark-base);
        --color-skeleton-light-higlight: var(--color-skeleton-dark-higlight);

        --color-skeleton-dark-base: #383B3E;
        --color-skeleton-dark-higlight: #48545A;

        --color-hover: rgba(255, 255, 255, 0.05);

        --border-global: 1px solid rgba(255, 255, 255, 0.2);
    }


    a, p, span, h1, h2, h3 {
        color: var(--color-text-base);
        font-family: var(--font-family-base);
    }

    a,
    .link {
        color: var(--color-link);
        font-weight: 525;
        text-decoration: underline;
        padding: 0;
        cursor: pointer;
    }
    a,
    .link:hover {
        color: var(--color-link-hover);
        background-color: transparent;
    }

    span {
        line-height: 1;
    }



    h1 {
        font-size: var(--font-size-title);
        font-weight: bold;
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: bold;
        line-height: 1;
    }

    p {
        margin: 0;
    }

}

@layer components {
    button,
    .btn {
        background-color: var(--color-primary-button);
        color: var(--color-text-light);
        border: none;
        border-radius: var(--border-radius-main);
        cursor: pointer;

        font-weight: bold;
        font-size: var(--font-size-button);
        text-align: center;

        display: block;
        padding: var(--padding-small) var(--padding-extra-large);
        transition: background 0.2s;
        line-height: 1.5;

        box-shadow: var(--shadow-base);
        text-decoration: none;
    }

    button:hover,
    .btn:hover {
        background-color: var(--color-primary-button-hover);
    }

    .btn a {
        text-decoration: none;
        color: var(--color-text-light);
    }

    button:disabled,
    .btn:disabled {
        background-color: var(--color-button-disabled);
        cursor: default;
    }

    input {
        padding: var(--padding-small) var(--padding-extra-large);
        font-size: 1.25rem;
        outline: none;
        border: 1px solid var(--color-text-light);
        color: var(--color-text-base);
        border-color: var(--color-border-card);
        box-shadow: var(--shadow-base);
        border-radius: 8px;
    }

    .separator {
        background-color: var(--color-text-context);
    }

    .separator.vertical {
        height: 100%;
        max-height: 700px;
        width: 1px;
    }

    .separator.horizontal {
        width: 100%;
        max-width: 700px;
        height: 1px;
    }

    .link-btn {
        all: unset;

        color: var(--color-link);
        text-decoration: underline;
        font-weight: 525;

        cursor: pointer;
        font-family: var(--font-family-base);
        font-size: 1.125rem;
        transition: color 0.2s;
    }

    .link-btn:hover {
        color: var(--color-link-hover);
        background-color: transparent;
    }
}

